@import url('https://fonts.cdnfonts.com/css/cyberway-riders');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');


.background {
    background-image: url(../assets/woman.svg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    height: 100vh;
}

.globe {
    position: fixed;
    right: 20px;
    top: 10px;

}

.text-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;

    z-index: 1;
}

h2 {
    text-align: end;
    margin: 0;
    transform: translateY(30%);
}

.text-container div {
    display: flex;
    gap: 1.6em;
    align-items: center;
    z-index: 1;
}


.text-container h1 {
    font-family: 'Cyberway Riders', sans-serif;
    color: #7032FF;
    font-size: 6em;
    margin: 0;
}

.kanji-blend {
    background-color: #242424;
    isolation: isolate;
    transform: translateX(-6%);
}

.left-kanji {
    position: fixed;
    left: 0;
    top: 0;
    height: 100vh;
    width: 100vw;

    background-repeat: repeat-x;
    background-size: 50%;
    z-index: 1;

    transform-origin: top left;
    transform: rotate(85deg) translateX(0%) translateY(-8%);

    background-image: url(../assets/Kanji.png);

    animation: deslizarFundo 10s linear infinite;
}

.kanji-blend img {
    width: 300px;
}

p {
    font-family: "Source Code Pro", monospace;
    font-weight: 400;
    width: 20vw;
    font-size: 20px;
    text-align: start;
}

.text-1 {
    transform: translateX(-5%);
}

.text-3 {
    display: flex;
    justify-content: center;
}

@keyframes deslizarFundo {
    from {
        background-position: 0% 0%;
    }

    to {
        background-position: 100% 0%;
    }
}