@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');


.container {
    background-color: #110C1C;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    padding: 1em;
    width: 20vw;
    height: 30vh;
    border: #6E31FC solid;

    animation: popUp 0.3s ease-out forwards;
}

.text {
    text-align: center;
    width: 10vw;
}

.btn {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: 15vw;
    height: 6vh;
    background-color: #6E31FC;

    font-family: "Source Code Pro", monospace;
    font-size: 24px;
    padding: 0 0.8em;

    transition: 0.25s;
}

.btn:hover {
    box-shadow: 0 0 20px 10px #6e31fc67;
}

.modalBackdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.7);
   
    display: flex;
    justify-content: center;
    align-items: center;

    animation: fadeIn 0.2s ease-out forwards;


    z-index: 1000;

}

.backdropClosing {
    animation: fadeOut 0.2s ease-in forwards;
}

.containerClosing {
    animation: popDown 0.3s ease-in forwards;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

/* Animação para o modal (subir e aparecer) */
@keyframes popUp {
    from {
        opacity: 0;
        transform: scale(0.95);
        /* Começa um pouco menor */
    }

    to {
        opacity: 1;
        transform: scale(1);
        /* Termina no tamanho normal */
    }
}

@keyframes fadeOut {
  from { opacity: 1; }
  to { opacity: 0; }
}

@keyframes popDown {
  from { opacity: 1; transform: scale(1); }
  to { opacity: 0; transform: scale(0.95); }
}