:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
 
  font-weight: 400;

  color-scheme: light dark;
  color: rgb(255, 255, 255);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

body {
  margin: 0;
}

h1 {
  font-size: 3.2em;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a00;
  cursor: pointer;
  transition: border-color 0.25s;
}

.main-button{
  border-radius: 20px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: large;
  font-weight: 500;
  font-family: inherit;
  background-color: #7032FF;
  cursor: pointer;
  transition: 0.25s;
}

button:hover {
  border-color: #646cff;
}

.main-button:hover {
  color: #7032FF;
  background-color: white;
  border-color: #7032FF;
  transform: scale(1.15);
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.main-button:focus,
.main-button:focus-visible {
  outline: 0 auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
